// Custom scrollbar for PrimeNG dropdown
.justify-start {
    margin-right: auto; 
}

// Altering the Z-Index of the PrimeNG dialog dark overlay
::ng-deep .p-dialog-mask {
    z-index: 1000 !important;
}

:host {
    ::ng-deep .toast-override {
        font-family: 'Fira Code'
    }
}

.dialog-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: scale(3);
    z-index: 1;

    &.left-nav {
        left: -4rem;
    }

    &.right-nav {
        right: -4rem;
    }
}

.dialog-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        &.slide-next-enter {
            animation-name: slideNextEnter;
        }

        &.slide-next-leave {
            animation-name: slideNextLeave;
        }

        &.slide-prev-enter {
            animation-name: slidePrevEnter;
        }

        &.slide-prev-leave {
            animation-name: slidePrevLeave;
        }
    }
}

.centered-container {
    width: 100%;
    align-items: center;
}

@keyframes slideNextEnter {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideNextLeave {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slidePrevEnter {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slidePrevLeave {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}