.hover-card {
    width: 20rem;
    border-radius: 10px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s; /* Smooth transition */
    cursor: pointer;

    &:hover {
        transform: scale(1.02); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    }
}

.unit-code {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.reviews {
    font-size: 14px;
    padding-top: 5px;
}

.unit-name {
    font-size: 15px;
    height: 2rem;
}

