.hover-card {
    width: 20rem;
    border-radius: 10px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s; /* Smooth transition */
    cursor: pointer;
    margin: auto;

    &:hover {
        transform: scale(1.02); 
        box-shadow: 0 0 16px rgba(226, 136, 226, 0.25), 0 0 24px rgba(214, 124, 214, 0.25); // Purple and centered shadow on hover
    }
}

.stars {
    display: flex;
    gap: 0.25rem;
    margin: 0.25rem 0;

    i {
        font-size: 1.2rem;
        color: white;   
    }
}

.unit-code {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.reviews {
    font-size: 14px;
    padding-top: 5px;
}

.unit-name {
    font-size: 15px;
    height: 2rem;
}

