<!-- ! Toast for on deletion of review -->
<p-toast></p-toast>

<!-- ! CHILD: UnitHeaderComponent -->
@if (unit) {
    <div class="unit-header-container">
        <app-unit-review-header [unit]="unit" (sortBy)="sortReviews($event)" (reviewAdded)="refreshReviews()"></app-unit-review-header>
    </div>
}

<!-- ! Show all the reviews  -->
@if (!reviewsLoading) {
    <div class="reviews-container">
        @for (review of reviews; track $index) {
            <app-review-card [review]="review" (reviewDeleted)="refreshReviews('delete')"></app-review-card>
        }
    </div>
} @else {
    <!-- Show loading spinner if there are no reviews -->
    <div class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
}

<!-- ! Show end of reviews message  -->
@if (reviews.length > 0) {
    <h3 
        class="text-center mb-5 prevent-select"
        [style]="{ 'color': 'var(--text-color)' }"
    >You have reached the end...</h3>
} 
<!-- ! Show no reviews message if there are no reviews -->
@else {
    <h3 
        class="text-center prevent-select"
        [style]="{ 'color': 'var(--text-color)', 'margin-top': '5rem', 'margin-bottom': '5rem' }"
    >No reviews for this unit...</h3>
}