<!-- Toast for on deletion of review -->
<p-toast></p-toast>

<!-- CHILD: UnitHeaderComponent -->
@if (unit) {
    <div class="unit-header-container">
        <app-unit-review-header [unit]="unit" (sortBy)="sortReviews($event)" (reviewAdded)="refreshReviews()"></app-unit-review-header>
    </div>
}

<!-- Shows all the reviews from the backend -->
@if (!reviewsLoading) {
    <div class="reviews-container">
        @for (review of reviews; track $index) {
            <app-review-card [review]="review" (reviewDeleted)="refreshReviews('delete')"></app-review-card>
        }
    </div>
} @else {
    <!-- Show loading spinner -->
    <div class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
}

@if (reviews.length > 0) {
    <h3 class="text-center mb-5">You have reached the end...</h3>
} @else {
    <h3 class="text-center">No reviews for this unit...</h3>
}