.reviews-container {
    margin-bottom: 40px;
}

.reviews-skeleton-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
}

:host ::ng-deep .header-skeleton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .header-skeleton {
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;

    @media (max-width: 1200px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}