<p-toast></p-toast>

<!-- Container for the centered card -->
<div class="card-container">
    @if (state === 'resetting') {
        <!-- ! Still resetting card -->
        <p-card 
            header="Reset your password"
            [style]="{ width: '25rem', overflow: 'hidden', 'text-align': 'center' }"
            class="flex align-items-center justify-content-center"
        >   
            <!-- Card body -->
            <div class="centered-container">
                <!-- Text -->
                <p>Enter a new password bruv<br/><span style="color: gray">Try to not forget it next time! 😂</span></p>

                <!-- Password inputs -->
                <p-password [(ngModel)]="password1" placeholder="Enter your new password" />
                <p-password [(ngModel)]="password2" placeholder="Confirm your new password" [feedback]="false" class="mt-3"/>

                <!-- Submission -->
                <p-button class="mt-3" label="Submit" rounded="true" 
                    (click)="resetPassword()"
                    [disabled]="
                        password1 === '' ? true : false ||
                        password2 === '' ? true : false ||
                        password1 === '' && password2 === '' ? true : 
                        password1 === password2 ? false : true
                    "
                />
            </div>
        </p-card>
    } 
    <!-- ! Successful reset card -->
    @else if (state === 'reset') {
        <p-card
            header="Password Reset"
            [style]="{ width: '25rem', overflow: 'hidden', 'text-align': 'center' }"
            class="flex align-items-center justify-content-center"
        >
            <div class="centered-container">
                <p>Your password has been reset successfully! 🎉</p>
                <p-button label="Go to Login" class="mt-3" (click)="goHome()"></p-button>
            </div>
        </p-card>
    }
</div>
