@import './_variables.scss';

/* Ensure the html and body elements occupy full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Make the wrapper a flex container */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  background-color: $bg-light-color;
}

/* Allow the content area to grow and fill space */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
