body {
  background-color: #fffefe;
  height: 700px;
}

.navbar {
  background-color: #e7d8f1;
  padding: 1rem;
}

.navbar-toggler {
  border: none; /*Get rid of existing border*/
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.offcanvas {
  width: 250px;
  background-color: #f8f9fa;
}

.offcanvas-header {
  padding: 1rem;
  font-size: 1.25rem;
}


.offcanvas-body ul {
  padding-left: 0;
  list-style: none;
}

.offcanvas-body li {
  margin: 1rem 0;
}

.offcanvas-body li a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.offcanvas-body li a:hover {
  color: #000;
  text-decoration: underline;
}

.lni-menu {
  font-size: 25px;
}

/* Footer */
.footer {
  background-color: #f0f0f0;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.footer .social-icons {
  display: flex;
  align-items: center;
}

.footer .social-icons a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.footer .social-icons i {
  font-size: 1.5rem;
}

.footer .detail {
  text-align: left;
}
