# --------------------------------- Defaults --------------------------------- #

logs
*.log
npm-debug.log*
lerna-debug.log*
node_modules/
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
.idea/
.DS_Store
Thumbs.db
.vercel/
.claude/settings.local.json
.mcp.json
CLAUDE.md

# --------------------------------- Frontend --------------------------------- #

frontend/dist/
fronten/tmp/
frontend/out-tsc/
frontend/bazel-out/

frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock/
frontend/coverage/
frontend/libpeerconnection.log
frontend/.claude/
frontned/.mcp.json

# ---------------------------------- Backend --------------------------------- #

backend/.env
backend/dist/
backend/docs/swagger.json
backend/scraper/
backend/scrapers/
backend/.claude/
backend/.mcp.json

backend/tests/performance/**/*.report.json
