@import '../../../_variables.scss';

// * Review card
.review-card-container {
  // Smooth animation for transform of whole card
  transition: transform 0.3s ease-in-out;

  // Increasing the size of the whole review card when the user hovers over it.
  &:hover {
    transform: scale(1.02);
  }

  .review-card {
    font-family: $poppins;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 20px;
    color: #000;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;

    h5 {
      padding-top: 10px;
      font-weight: bold;
    }

    .delete-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 10;

      i {
        font-size: 1.5rem;
        color: #000;  

        &:hover {
          color: white;
        }
      }
    }

    .border-end {
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
  }
}

// * Sub-category stars
.stars {
  display: flex;
  justify-content: space-between; /* Aligns stars to the container edges */
  width: 100%; /* Ensures the stars div stretches to the full width of its container */

  i {
    color: #000;
    font-size: 24px;
  }

  .filled {
    color: #000; /* Filled stars black */
  }
}

// * Overall stars
.stars-overall {
  display: flex;
  flex-wrap: wrap; /* Allows stars to wrap onto the next line */
  justify-content: center; /* Center align stars */
  
  i {
    color: #000;
    font-size: 30px;
    margin: 0 0.5rem;
  }

  .filled {
    color: #000;
  }
}

// * Like and Dislike buttons
.thumbs-container {
  position: absolute;
  bottom: 15px;
  right: 40px;
  display: flex;
  align-items: center;

  .thumbs {
    font-size: 1.5rem;
  
    &:hover {
      color: white;
    }
  }
}

.btn-link {
  font-size: 1rem;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.more-link {
  color: #6c757d;
  text-decoration: underline;
}

// Paragraph
p {
  color: #000;
  margin-bottom: 7px;
  padding-top: 10px;
}

// Review year in user part
.review-year {
  color: #474b4f;
  font-size: 0.85rem;
  margin-left: 5px;
}

// Heading 5 
h5 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 21px;
}

// Heading 6
h6 {
  font-weight: bold;
  color: #000;
}

// Container padding
.container {
  max-width: 1100px;
}

.review {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.review-column {
  padding-right: 20px;
  border-right: 1px solid #dee2e6;
}

// Adjust border visibility for smaller screens
@media (max-width: 767px) {
  .review-card {
    margin-left: 8%;
    margin-right: 9%;
  }

  .review-column {
    border-right: none;
    padding-right: 0;
  }

  .col-md-5 {
    margin: 0;
    padding-right: 0;
    padding-left: 0; /* Set padding-left to 0 */
  }

  .stars {
    margin:0;
    padding-right: 0;
    width: 180px;
  }

  .stars i{
    font-size: 28px;
  }

  p{
    font-size: 13px;
   }

}

// Adjust stars-overall
@media (max-width: 1200px) and (min-width: 768px) {
  .review-card {
    margin-left: 7%;
    margin-right: 7%;
  }

  .col-md-5{
    display:inline;
  }
  
  .content {
    width: 50%;
    text-align: center;  /* Make each .col-md-5 take up the full row */
    display: block;  /* Ensure it breaks to a new line */
  }

  .relevancy{
    width: 50%;
    text-align: center;
  }

  .stars i{
    font-size: 28px;
  }

  .stars-overall {
    width: 200px;
  }

  .faclt{
    margin: auto;
    width: 50%;
  }

  p{
    font-size: 13px;
   }
}

// Adjust border visibility for smaller screens
@media (max-width: 500px){
  .review-card {
    margin-left: 10%;
    margin-right: 10%;
  }
  .stars-overall {
    margin: auto;
    width: 210px;
  }

  .stars i{
    font-size: 23px;
  }

  .stars-overall i{
    font-size: 25px;
  }


}

// Adjust border visibility for smaller screens
@media (max-width: 930px) and (min-width: 767px){
  .stars i{
    font-size: 23px;
  }

  .stars-overall i{
    font-size: 25px;
  }

  h5{
    font-size: 17px;
  }

  h6{
    font-size: 16px;
  }

  p{
    font-size: 14px;
  }
}