@import '../../../_variables.scss';

.review-card {
  font-family: $poppins;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $primary-color; /* Adjusted to match the purple tone */
  border-radius: 20px;
  padding: 20px;
  color: #000;
  position: relative; /* Ensures absolute positioning works inside this card */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

  h5 {
    padding-top: 10px;
    font-weight: bold;
  }
}

/* Sub-category stars */
.stars {
  display: flex;
  justify-content: space-between; /* Aligns stars to the container edges */
  width: 100%; /* Ensures the stars div stretches to the full width of its container */

  i {
    color: #000;
    font-size: 24px;
  }

  .filled {
    color: #000; /* Filled stars black */
  }
}

/* Overall stars */
.stars-overall {
  i {
    color: #000;
    font-size: 30px;
  }

  .filled {
    color: #000;
  }
}

.thumbs-up {
  font-size: 1.5rem;

  &:hover {
    color: white;
  }
}

.thumbs-container {
  position: absolute;
  bottom: 15px;
  right: 40px;
  display: flex;
  align-items: center;
}

.more-link {
  color: #6c757d;
  text-decoration: underline;
}

.review-card .border-end {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

// Paragraph
p {
  color: #000;
  margin-bottom: 7px;
  padding-top: 10px;
}

// Heading 5 
h5 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 21px;
}

// Heading 6
h6 {
  font-weight: bold;
  color: #000;
}

// Container padding
.container {
  max-width: 1100px;
}

.review {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

 