@import '../../../_variables.scss';

// * Review card
.review-card-container {
  // Smooth animation for transform of whole card
  transition: transform 0.3s ease-in-out;

  // Increasing the size of the whole review card when the user hovers over it.
  &:hover {
    transform: scale(1.02);
  }

  .review-card {
    font-family: $poppins;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 20px;
    color: #000;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;

    h5 {
      padding-top: 10px;
      font-weight: bold;
    }

    // * Top right button for reporting/deleting review (hidden unless hovered)
    .top-right-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      z-index: 10;

      i {
        font-size: 1.5rem;
        color: #000;

        &:hover {
          color: white;
        }
      }
    }

    // * User profile image and name with year taken
    .user-section {
      padding: 0;
      margin-top: 0.75rem;
      margin-bottom: 1rem;

      .profile-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      // Review year in user part
      .review-year {
        color: #474b4f;
        font-size: 0.85rem;
        margin-left: 5px;
      }
    }

    // * Overall rating section with heading & stars
    .overall-section {
      background-color: $bg-dark-color;
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      .heading {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        text-align: center;
      }

      .stars-overall {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        
        i {
          color: $primary-color;
          font-size: 30px;
          margin: 0 0.5rem;
        }

        .filled {
          color: $primary-color;
        }
      }
    }

    // Main RHS content
    .main-content-container {
      display: flex;
      flex-direction: column;

      .review {
        white-space: pre-wrap;
        background-color: $primary-color-darker;
        border-radius: 20px;
        flex: 1;
        min-height: 10rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }

      .categories {
        padding: 1rem;
        margin-top: auto;
        background-color: $bg-dark-color;
        border-radius: 20px;

        .category {
          .category-header {
            color: white;
            margin-bottom: 0.5rem;
          }
        }

        .circles {
          display: flex;
          gap: 4px;
          
          .circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
          }

          .full-circle {
            background-color: $primary-color;
          }
  
          .half-circle {
            background-color: $primary-color-hover;
          }
  
          .empty-circle {
            background-color: rgb(96, 96, 96);
          }
        }

        // Rating stars
        .stars {
          display: flex;
          justify-content: space-between; 
          width: 100%;

          i {
            color: #000;
            font-size: 24px;
          }

          .filled {
            color: #000;
          }
        }

        // Like and Dislike buttons
        .action-buttons-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          height: 100%;

          .thumb-buttons {
            display: flex;
            align-items: center;

            .thumbs {
              font-size: 1.5rem;
              transition: transform 0.3s ease-in-out;
            
              &:hover {
                color: white;
                transform: scale(1.4);
              }
            }
          }

          .report-button {
            display: flex;
            align-items: center;
            gap: 8px;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .border-end {
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.btn-link {
  font-size: 1rem;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.more-link {
  color: #6c757d;
  text-decoration: underline;
}

// Paragraph
p {
  color: #000;
  margin-bottom: 7px;
  padding-top: 10px;
}

// Heading 5 
h5 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 21px;
}

// Heading 6
h6 {
  font-weight: bold;
  color: #000;
}

// Container padding
.container {
  max-width: 1100px;
}

// Middle divider
.review-column {
  padding-right: 20px;
  border-right: 1px solid $primary-color-darker;
}

// Adjust border visibility for smaller screens
@media (max-width: 767px) {
  .review-card {
    margin-left: 8%;
    margin-right: 9%;
  }

  .review-column {
    border-right: none;
    padding-right: 0;
  }

  .col-md-5 {
    margin: 0;
    padding-right: 0;
    padding-left: 0; /* Set padding-left to 0 */
  }

  .stars {
    margin:0;
    padding-right: 0;
    width: 180px;
  }

  .stars i{
    font-size: 28px;
  }

  p{
    font-size: 13px;
   }

}

// Adjust stars-overall
@media (max-width: 1200px) and (min-width: 768px) {
  .review-card {
    margin-left: 7%;
    margin-right: 7%;
  }

  .col-md-5{
    display:inline;
  }
  
  .content {
    width: 50%;
    text-align: center;  /* Make each .col-md-5 take up the full row */
    display: block;  /* Ensure it breaks to a new line */
  }

  .relevancy{
    width: 50%;
    text-align: center;
  }

  .stars i{
    font-size: 28px;
  }

  .stars-overall {
    width: 200px;
  }

  .faclt{
    margin: auto;
    width: 50%;
  }

  p{
    font-size: 13px;
   }
}

// Adjust border visibility for smaller screens
@media (max-width: 500px){
  .review-card {
    margin-left: 10%;
    margin-right: 10%;
  }
  .stars-overall {
    margin: auto;
    width: 210px;
  }

  .stars i{
    font-size: 23px;
  }

  .stars-overall i{
    font-size: 25px;
  }


}

// Adjust border visibility for smaller screens
@media (max-width: 930px) and (min-width: 767px){
  .stars i{
    font-size: 23px;
  }

  .stars-overall i{
    font-size: 25px;
  }

  h5{
    font-size: 17px;
  }

  h6{
    font-size: 16px;
  }

  p{
    font-size: 14px;
  }
}