@import '../../../_variables.scss';

// * Review card
.review-card-container {
  // Smooth animation for transform of whole card
  transition: transform 0.3s ease-in-out;

  // Increasing the size of the whole review card when the user hovers over it.
  &:hover {
    transform: scale(1.05);
  }

  .review-card {
    font-family: $poppins;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 20px;
    color: #000;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;

    h5 {
      padding-top: 10px;
      font-weight: bold;
    }

    .delete-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 10;

      i {
        font-size: 1.5rem;
        color: #000;  

        &:hover {
          color: white;
        }
      }
    }

    .border-end {
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
  }
}

// * Sub-category stars
.stars {
  display: flex;
  justify-content: space-between; /* Aligns stars to the container edges */
  width: 100%; /* Ensures the stars div stretches to the full width of its container */

  i {
    color: #000;
    font-size: 24px;
  }

  .filled {
    color: #000; /* Filled stars black */
  }
}

// * Overall stars
.stars-overall {
  i {
    color: #000;
    font-size: 30px;
  }

  .filled {
    color: #000;
  }
}

// * Like and Dislike buttons
.thumbs-container {
  position: absolute;
  bottom: 15px;
  right: 40px;
  display: flex;
  align-items: center;

  .thumbs {
    font-size: 1.5rem;
  
    &:hover {
      color: white;
    }
  }
}

.btn-link {
  font-size: 1rem;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.more-link {
  color: #6c757d;
  text-decoration: underline;
}

// Paragraph
p {
  color: #000;
  margin-bottom: 7px;
  padding-top: 10px;
}

// Review year in user part
.review-year {
  color: #474b4f;
  font-size: 0.85rem;
  margin-left: 5px;
}

// Heading 5 
h5 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 21px;
}

// Heading 6
h6 {
  font-weight: bold;
  color: #000;
}

// Container padding
.container {
  max-width: 1100px;
}

.review {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}