$max-width: 1200px;
$gap: 20px;
$padding: 40px;

.unit-list-container {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: $padding;
    max-width: $max-width;
    margin: 0 auto; // center the content on the page
}

.unit-card-wrapper {
    display: flex;
    justify-content: center;
}

// Toolbar container
.toolbar-container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 10px;

    // Toolbar styles
    .p-toolbar {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    // Start and end groups
    .p-toolbar-group-start,
    .p-toolbar-group-end {
        flex: 1;
    }

    // Center group
    .p-toolbar-group-center {
        flex: 2;
        display: flex;
        justify-content: center;
    }

    // End group
    .p-toolbar-group-end {
        display: flex;
        justify-content: flex-end;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
    }

    .search-badge, .sortby-badge{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(83, 83, 83);
        color: white;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        font-size: 0.6rem;
        margin-left: 0.5rem;
    }
}

.paginator-container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 20px;
}

.no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20rem;

    .emoji {
        transform: scale(4);
        margin-top: 10vh;
        margin-bottom: 2rem;
    }
}