<div class="toolbar-container">
  <p-toolbar class="toolbar" styleClass="shadow-2" [style]="{ 'border-radius': '3rem' }">
    <!-- Start group -->
    <div class="p-toolbar-group-start">
        <!-- Sortby dropdown  -->
        <div class="dropdown-container">
          <p-dropdown
            #sortByDropdown
            id="sortByDropdown"
            [options]="['Alphabetic', 'Most Reviews', 'Highest Overall', 'Lowest Overall']"
            [(ngModel)]="sortBy"
            [editable]="true"
            placeholder="Sort By"
            variant="filled"
            [style]="{'border-radius': '3rem', 'width': '13rem', 'height': '2.25rem' }"
            (onChange)="onSortByChange();"
            (onFocus)="isSortByFocused = true;"
            (onBlur)="isSortByFocused = false;"
            pTooltip="Sort units by"
            tooltipPosition="bottom"
            tooltipStyleClass="mt-2"
          />
          <!-- Badge to show keyboard shortcut -->
          @if (!isSortByFocused) { <span class="sortby-badge">CTRL+F</span> }
        </div>
    </div>

    <!-- Center group -->
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <!-- Search bar with icon that changes -->
            <i class="pi" [ngClass]="{ 'pi-search': !loading, 'pi-spinner pi-spin': loading }"></i>
            <input 
              id="searchInput"
              pInputText 
              placeholder="Search" 
              variant='filled'
              [style]="{ 'border-radius': '3rem', 'width': '18rem', 'height': '2.5rem', 'font-size': '1rem' }"
              [(ngModel)]="search" 
              (input)="filterUnits()"
              (focus)="isSearchFocused = true;"
              (blur)="isSearchFocused = false;"
              pTooltip="Search for unitcode"
              tooltipPosition="bottom"
            />
            <!-- Badge to show keyboard shortcut -->
            @if (!isSearchFocused) { <span class="search-badge">CTRL+K</span> }
        </span>
    </div>

    <!-- End group -->
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-filter" pTooltip="Advanced Filtering" [rounded]="true" tooltipPosition="bottom" tooltipStyleClass="mt-2" />
    </div>
  </p-toolbar>
</div>

<!-- Skeletons if loading -->
@if (loading) {
  <div class="unit-list-container">
    <ng-container class="unit-card-wrapper">
      <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <p-skeleton width="20rem" height="15rem" styleClass="ml-4 mr-6 mb-6 mx-auto"/>
      </ng-container>
    </ng-container>
  </div>
} 
<!-- The list of units shown in grid format -->
@else if (filteredUnits.length > 0) {
  <div class="unit-list-container">
    @for (unit of filteredUnits; track $index) {
      <div class="unit-card-wrapper">
        <app-unit-card [unit]="unit"></app-unit-card>
      </div>
    }
  </div>
} 
<!-- No units match search query -->
@else {
  <div class="no-results-container">
    <svg class="emoji" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><path fill="#FFB02E" d="M15.999 29.998c9.334 0 13.999-6.268 13.999-14 0-7.73-4.665-13.998-14-13.998C6.665 2 2 8.268 2 15.999s4.664 13.999 13.999 13.999"/><path fill="#fff" d="M10.42 16.224a4.206 4.206 0 1 0 0-8.411 4.206 4.206 0 0 0 0 8.411M21.568 16.301a4.244 4.244 0 1 0 0-8.489 4.244 4.244 0 0 0 0 8.49"/><path fill="#402A32" d="M14 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0M24 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0M10.894 22.447C11.098 22.04 12.46 20 16 20s4.902 2.04 5.106 2.447a1 1 0 1 0 1.788-.894C22.431 20.627 20.46 18 16 18s-6.431 2.627-6.894 3.553a1 1 0 1 0 1.788.894"/></svg>
    <h4 class="text-center mt-3 mb-5">No units match your search query.</h4>
  </div>
}


<!-- Paginator -->
<div class="flex align-items-center justify-content-center paginator-container">
  <div class="flex-1">
      <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="totalRecords" 
        [rowsPerPageOptions]="[20, 40, 60]" 
        [showFirstLastIcon]="false" 
        styleClass="shadow-2"
        [style]="{ 'border-radius': '3rem' }"
      ></p-paginator>
  </div>
</div>