<!-- === Toolbar === -->
<div class="toolbar-container">
  <p-toolbar 
    class="toolbar" 
    styleClass="shadow-2" 
  >
    <!-- ! Start group (Simple sorting order dropdown) -->
    <div class="p-toolbar-group-start">
        <!-- * Sortby dropdown  -->
        <div class="dropdown-container">
          <p-dropdown
            #sortByDropdown
            id="sortByDropdown"
            [options]="['Alphabetic', 'Most Reviews', 'Highest Overall', 'Lowest Overall']"
            [(ngModel)]="sortBy"
            [editable]="true"
            placeholder="Sort By"
            variant="filled"
            [style]="{'border-radius': '3rem', 'width': '13rem', 'height': '2.25rem' }"
            (onChange)="onSortByChange();"
            (onFocus)="isSortByFocused = true;"
            (onBlur)="isSortByFocused = false;"
            pTooltip="Sort units by"
            tooltipPosition="bottom"
            tooltipStyleClass="mt-2"
          />
          <!-- Badge to show keyboard shortcut -->
          @if (!isSortByFocused && viewportType !== 'mobile' && viewportType !== 'tablet') { 
            <span class="sortby-badge prevent-select">CTRL+F</span> 
          }
        </div>
    </div>

    <!-- ! Center group (dynamic search bar)-->
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <!-- * Search bar with icon that changes -->
            <i class="pi" [ngClass]="{ 'pi-search': !loading, 'pi-spinner pi-spin': loading }"></i>
            <input 
              id="searchInput"
              pInputText 
              placeholder="Search" 
              variant='filled'
              [style]="{ 'border-radius': '3rem', 'width': '18rem', 'height': '2.5rem', 'font-size': '1rem' }"
              [(ngModel)]="search" 
              (input)="onSearchInput();"
              (focus)="isSearchFocused = true;"
              (blur)="isSearchFocused = false;"
              pTooltip="Search for unitcode"
              tooltipPosition="bottom"
            />
            <!-- Badge to show keyboard shortcut -->
            @if (!isSearchFocused && viewportType !== 'mobile' && viewportType !== 'tablet') { 
              <span class="search-badge prevent-select">CTRL+K</span> 
            }
        </span>
    </div>

    <!-- ! End group (Advanced filtering options) -->
    <div class="p-toolbar-group-end">
      <!-- Badge for keyboard shortcut -->
      @if (!op.overlayVisible && viewportType !== 'mobile' && viewportType !== 'tablet') { 
        <span class="filter-badge prevent-select">CTRL+O</span> 
      }
      <!-- * Advanced filtering button with overlay panel -->
      <p-button 
        #filterButton 
        [icon]="loading ? 'pi pi-spinner pi-spin' : 'pi pi-filter'" 
        (onClick)="op.toggle($event)" 
        pTooltip="Advanced Filtering" 
        [label]="viewportType === 'mobile' || viewportType === 'tablet' ? 'Filters' : ''"
        [rounded]="true" 
        tooltipPosition="bottom" 
        tooltipStyleClass="mt-2"
      />
        <p-overlayPanel 
          #op 
          id="advancedFiltering" 
          [dismissable]="true" 
          [style]="{ 
            'width': (viewportType === 'mobile') ? '250px' : (viewportType === 'tablet') ? '400px' : '500px',
            'margin-top': '1rem',
          }"
        >
          <div class="filter-options">
            <!-- Show only reviewed units -->
            <div class="filter-option">
              <p-inputSwitch [(ngModel)]="showReviewed" (onChange)="filterUnits()" [style]="{ 'margin-right': '1rem' }"/>
              <label for="showOnlyReviewed" class="p-mr-2" [style]="{ 'transform': 'translateY(-6px)' }">Show only reviewed</label>
            </div>

            <!-- Show only un-reviewed units -->
            <div class="filter-option">
              <p-inputSwitch [(ngModel)]="showUnreviewed" (onChange)="filterUnits()" [style]="{ 'margin-right': '1rem' }"/>
              <label for="showOnlyUnreviewed" class="p-mr-2" [style]="{ 'transform': 'translateY(-6px)' }">Show only unreviewed</label>
            </div>

            <!-- Hide no offerings -->
            <div class="filter-option">
              <p-inputSwitch [(ngModel)]="hideNoOfferings" (onChange)="filterUnits()" [style]="{ 'margin-right': '1rem' }"/>
              <label for="hideNoOfferings" class="p-mr-2" [style]="{ 'transform': 'translateY(-6px)' }">Hide no offerings</label>
            </div>

            <!-- Faculty -->
            <div class="filter-option mt-4">
              <p-floatLabel>
                <p-multiSelect id="faculty" 
                  [options]="faculties" 
                  [style]="{ 'width': '100%' }" 
                  scrollHeight="25vh"
                  [showClear]="true"
                  [(ngModel)]="selectedFaculty" 
                  (onChange)="filterUnits();"
                  (onClear)="filterUnits();"
                />
                <label for="faculty">Faculty</label>
              </p-floatLabel>
            </div>

            <!-- Semester Offered -->
            <div class="filter-option mt-4">
              <p-floatLabel>
                <p-multiSelect id="semester" 
                  [options]="semesters" 
                  [style]="{ 'width': '100%' }" 
                  scrollHeight="25vh"
                  [showClear]="true"
                  [(ngModel)]="selectedSemesters" 
                  (onChange)="filterUnits();"
                  (onClear)="filterUnits();"
                />
                <label for="semester">Semester</label>
              </p-floatLabel>
            </div>

            <!-- Campus -->
            <div class="filter-option mt-4">
              <p-floatLabel>
                <p-multiSelect id="campus" 
                  [options]="campuses" 
                  [style]="{ 'width': '100%' }" 
                  scrollHeight="25vh"
                  [showClear]="true"
                  [(ngModel)]="selectedCampuses" 
                  (onChange)="filterUnits();"
                  (onClear)="filterUnits();"
                />
                <label for="campus">Campus</label>
              </p-floatLabel>
            </div>

            <!-- Button to clear filters -->
            <p-button 
              *ngIf="selectedFaculty || selectedSemesters || selectedCampuses"
              label="Clear Filters" 
              icon="pi pi-times" 
              styleClass="p-button-text p-button-rounded p-button-sm p-button-danger"
              pTooltip="Clear all filters"
              tooltipPosition="bottom"
              [style]="{ 'margin-top': '1rem' }"
              (onClick)="selectedFaculty = null; selectedSemesters = null; selectedCampuses = null; filterUnits();"
            />
          </div>
        </p-overlayPanel>
    </div>
  </p-toolbar>
</div>

<!-- === Skeletons for unit cards if loading === -->
@if (loading) {
  <div class="unit-list-container">
    <ng-container class="unit-card-wrapper">
      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
        <p-skeleton 
          width="20rem" 
          height="15rem" 
          styleClass="ml-4 mr-6 mx-auto"
        />
      </ng-container>
    </ng-container>
  </div>
} 
<!-- === The list of units shown in grid format === -->
@else if (filteredUnits.length > 0) {
  <div class="unit-list-container">
    @for (unit of filteredUnits; track $index) {
      <div class="unit-card-wrapper">
        <app-unit-card [unit]="unit"></app-unit-card>
      </div>
    }
  </div>
} 
<!-- === No units match search query === -->
@else {
  <div class="no-results-container">
    <!-- Emoji -->
    <svg class="emoji" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><path fill="#FFB02E" d="M15.999 29.998c9.334 0 13.999-6.268 13.999-14 0-7.73-4.665-13.998-14-13.998C6.665 2 2 8.268 2 15.999s4.664 13.999 13.999 13.999"/><path fill="#fff" d="M10.42 16.224a4.206 4.206 0 1 0 0-8.411 4.206 4.206 0 0 0 0 8.411M21.568 16.301a4.244 4.244 0 1 0 0-8.489 4.244 4.244 0 0 0 0 8.49"/><path fill="#402A32" d="M14 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0M24 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0M10.894 22.447C11.098 22.04 12.46 20 16 20s4.902 2.04 5.106 2.447a1 1 0 1 0 1.788-.894C22.431 20.627 20.46 18 16 18s-6.431 2.627-6.894 3.553a1 1 0 1 0 1.788.894"/></svg>
    <h4 class="text-center mt-3 mb-5 text-white">No units match your search query.</h4>
  </div>
}

<!-- === Bottom paginator === -->
<div class="flex align-items-center justify-content-center paginator-container">
  <div class="flex-1">
      <p-paginator 
        (onPageChange)="onPageChange($event);" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="totalRecords" 
        [rowsPerPageOptions]="[20, 40, 60]" 
        [showFirstLastIcon]="true" 
        styleClass="shadow-2"
        [style]="{ 'border-radius': '3rem' }"
      ></p-paginator>
  </div>
</div>

<p-scrollTop/>