.unit-list-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; // center the content on the page
}

.unit-card-wrapper {
    display: flex;
    justify-content: center;
}