<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row"> 

        <!-- Socials -->
        <div class="col-md-5" id="social-icons">
            <div class="header-text">CONNECT WITH US</div>
            <a href="https://www.facebook.com/WiredMonash" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/wiredmonash/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://discord.com/invite/FgvmFXeBSS" target="_blank"><i class="bi bi-discord"></i></a>
            <a href="https://www.linkedin.com/company/wired-monash/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.youtube.com/@wiredmonash" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://x.com/WiredMonash" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://wired.org.au/" target="_blank">OUR WEBSITE</a>
        </div>
        <!-- Detail -->
        <div class="col-md-7" id="detail">
            © 2024 <a href="https://www.monash.edu/it" target="_blank">Faculty of Information Technology</a> Society (WIRED).<br>
            WIRED is both a registered academic club with <a href="https://clubs.msa.monash.edu/" target="_blank">Monash Clubs and Societies</a>
            and a registered not-for-profit with the <a href="https://www.acnc.gov.au/charity/charities/b56f6294-487b-ed11-81ac-00224893bfad/profile" target="_blank">ACNC</a>.<br>
            Faculty of Information Technology Students Society <a href= "https://abr.business.gov.au/ABN/View?abn=74334022660" target="_blank">ABN: 74 334 022 660</a>
        </div>        

        </div>
    </div>
</footer>

