<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row"> 

        <!-- Socials -->
        <div class="col-sm" id="social-icons">
            CONNECT WITH US <br>
            <a href="#"><i class="lni lni-facebook-filled"></i></a>
            <a href="#"><i class="lni lni-instagram"></i></a>
            <a href="#"><i class="lni lni-twitter-original"></i></a>
            <a href="#"><i class="lni lni-discord"></i></a>
            <a href="#"><i class="lni lni-youtube"></i></a>
            <a href="#">OUR WEBSITE</a>
        </div>
        <!-- Detail -->
        <div class="col-sm" id="detail">
            © 2024 Faculty of Information Technology Society (WIRED).<br>
            WIRED is both a registered academic club with Monash Clubs and Societies<br>
            and a registered not-for-profit with the ACNC.<br>
            Faculty of Information Technology Students Society ABN: 74 334 022 660
        </div>

        </div>
    </div>
</footer>

