/* Footer */
.footer {
  background-color: #2c2c2c;
  color: white;
  font-size: 18px;
  padding: 30px 0; /* Combines top and bottom padding */
}

.footer a {
  color: #333;
  text-decoration: none;
}

/* Flex container for footer content */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Places social icons on one side and detail on the other */
  align-items: center;
  flex-wrap: wrap; /* Allows the items to wrap on smaller screens */
  gap: 20px;
}

/* Social Icons */
.social-icons {
  flex: 1;
  text-align: center;

  .header-text {
    font-weight: bold;
    padding-bottom: 10px;
  }

  a {
    color: white;
    margin: 0 5px;
    font-size: 20px;
  }

  a:hover {
    color: darkgray;
  }
}

/* Detail */
.detail {
  flex: 2;
  text-align: right;

  a {
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  a:hover {
    text-decoration-thickness: 3px;
  }
}
