// Importing variables
@import '../../../_variables.scss';

// * Top Navigation Bar
.navbar {
  //background-color: $primary-color; // Background color of the navbar
  padding: 0.35rem; // Padding around the navbar
  position: relative; // Set to relative to handle absolute position of toggler


  // ! Shimmer effect
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.2) 10%,
      rgba(255,255,255,0) 20%
    );
    animation: shimmer 4s infinite;
  }

  // * Hamburger Menu Button
  .hamburger-menu {
    border: none; // Removes the default border of the button
    padding: 0rem; // Minimal padding for the button
    display: block; // Ensure it remains visible on all screen sizes
    transform: scale(1.5);
    user-select: none;

    i {
      transition: transform 0.3s ease-in-out;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  // * Website Title (MonSTAR) in the Center of the Navbar
  .navbar-brand {
    font-size: 1.5rem; 
    font-family: $poppins;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  // * Profile Button
  .profile {
    border: none;
    padding: 0rem;
    display: block;
    transform: scale(1.5);
    user-select: none;

    // ! Hover effect for pi-user-plus
    i {
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    // * Badge for online status
    .online-badge {
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(58, 181, 58);
      border: 1px solid white;
    }
  }
}

// Shimmer keyframes
@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(150%);
  }
}

// * Sidebar title
.sidebar-title {
  color: white;
  font-family: $poppins;
}

// * Sidebar avatar
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

// * Prevents user selection
.prevent-select {
  -webkit-user-select: none; // Safari
  -ms-user-select: none; // IE 10 and IE 11
  user-select: none; // Standard syntax 
}

// Makes the element disabled
.disabled {
  pointer-events: none;
  opacity: 0.5;
}


