<p-toast></p-toast>

<!-- Profile Dialog -->
<p-dialog 
  [(visible)]="profileDialogVisible" 
  header="{{profileDialogTitle}}" 
  [draggable]="false" 
  [modal]="true" 
  [resizable]="false" 
  [style]="{ 'width': '75rem' }"
  [closeOnEscape]="profileState == 'signed up' ? false : true"
  (onHide)="onDialogClose()"
>
  <app-profile 
    [state]="profileState"
    [dialogClosedEvent]="dialogClosedEvent"
    (userChangeEvent)="user = $event"
    (titleChangeEvent)="profileDialogTitle = $event"
    (stateChangeEvent)="authStateChange($event)"
    (createToast)="handleToastEvent($event)"
  ></app-profile>
</p-dialog>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-center position-relative">
    <!-- Sidebar button -->
    <div class="hamburger-menu position-absolute start-0 ml-2" type="button" (click)="sidebarVisible = true;">
      <i class="pi pi-bars"></i>
    </div>

    <!-- Website Name, also redirects to the home page -->
    <a class="navbar-brand mx-auto text-center prevent-select" routerLink="/">MonSTAR</a>

    <!-- Profile -->
    <div class="profile position-absolute end-0 mr-2" type="button" (click)="showProfileDialog()">
      @if (user) {
        <!-- Avatar shown if logged in -->
        <div class="profile-pic pt-1" style="transform: scale(0.9);" pTooltip="Profile">
          <p-avatar [image]="user.profileImg" shape="circle"></p-avatar>
        </div>
      } @else {
        <!-- Icon shown if not logged in -->
        <i class="pi pi-user-plus" pTooltip="Sign In"></i>
      }
    </div>
  </div>
</nav>


<!-- Sidebar-->
<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
        <!-- Title Text-->
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2">
            <span class="font-semibold text-2xl sidebar-title prevent-select">MonSTAR</span>
          </span>
        </div>

        <!-- User Profile -->
        <div class="user">
          <hr class="mx-3 border-top-1 border-none surface-border" />
          <a pRipple (click)="closeCallback($event); showProfileDialog()" class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration: none;">
            <!-- Avatar -->
            <img
              [src]="user?.profileImg || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWwfGUCDwrZZK12xVpCOqngxSpn0BDpq6ewQ&s'" 
              alt="Profile Picture"
              class="mr-1 avatar"
            >
            <!-- Username -->
            <span class="font-bold mb-1 ml-2">{{ user?.username || 'Login (Guest)' }}</span>
          </a>
          <hr class="mx-3 border-top-1 border-none surface-border"/>
        </div>

        <!-- MAIN LINKS -->
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <li>
              <div pStyleClass="@next" class="p-3 flex align-items-center justify-content-between text-600 p-ripple prevent-select">
                <span class="font-medium">NAVIGATION</span>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li>
                  <a pRipple (click)="closeCallback($event)" routerLink='/' class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration: none;">
                    <i class="pi pi-home mr-2"></i>
                    <span class="font-medium">Home</span>
                  </a>
                </li>
                <li>
                  <a pRipple (click)="closeCallback($event)" routerLink='/unit-list' class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration: none;">
                    <i class="pi pi-graduation-cap mr-2"></i>
                    <span class="font-medium">Units</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- OTHER LINKS -->
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <li>
              <div pStyleClass="@next" class="p-3 flex align-items-center justify-content-between text-600 p-ripple prevent-select">
                <span class="font-medium">OPTIONS</span>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li>
                  <a pRipple (click)="closeCallback($event)" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration: none;">
                    <i class="pi pi-cog mr-2"></i>
                    <span class="font-medium">Settings</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </ng-template>
</p-sidebar>