@if (user) {
<p-button
  class="notifications mr-3"
  (click)="op.toggle($event)"
  [style]="{
    'background-color': 'transparent',
    border: 'none',
    transform: 'scale(1.2)'
  }"
>
  <i
    class="pi pi-bell"
    tooltipStyleClass="mt-2"
    [style.color]="profileColor"
  ></i
></p-button>

<p-overlayPanel (btnClick)="op.toggle($event)" #op>
  <div class="flex flex-column gap-3 w-25rem">
    <div>
      <span class="font-medium text-900 block mb-2">Notification 1</span>
      <span class="font-medium text-900 block mb-2">Notification 2</span>
      <span class="font-medium text-900 block mb-2">Notification 3</span>
      <span class="font-medium text-900 block mb-2">Notification 4</span>
    </div>
  </div>
</p-overlayPanel>
}
