// Variables
$avatar-size: 64px;

// Sign Up and Login Forms
.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; // Spacing between sections
    padding-top: 1.5rem;
  
    .left {
        flex: 1; // Take one part of the space
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        p-floatLabel {

            input {
                width: 100%;
                box-sizing: border-box;
                margin-right: 20px;
            }
        }

        p-button {
            margin-top: 0.75rem;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        .p-button-link { 
            display: inline-flex;
            align-items: center;
            font-weight: bold;
        }
    }
  
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; // Ensure the divider stretches to match the content height

        p-divider {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            margin-bottom: 2rem;

            b {
                font-size: 1rem;
            }
        }
    }
  
    .right {
        flex: 1; // Take one part of the space
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        button {
            transform: scale(1.35);
        }

        .googleButton {
            transform: scale(1.2);
        }
    }

    .p-button-link {
        padding-top: 20px;
    }
}

// Profile 
.profile {
    // Row format
    display: flex;
    align-items: left;
    flex-direction: row;    
    gap: 1rem;

    // Update details page
    .update-details {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 2rem;

        // Update details title
        .title {
            padding-top: 1rem;
            line-height: 0px;
        }

        // Update details submission button
        .update-details-button {
            display: flex;
            justify-content: flex-end;
        }
    }

    // Avatar card
    .avatar-card { 
        position: relative;

        .avatar {
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            position: relative;
        }

        .avatar-overlay {
            position: absolute;
            width: $avatar-size;
            height: $avatar-size;
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            .upload-icon {
                font-size: 24px;
                color: white;
                opacity: 0.8;
            }

            &:hover { 
                opacity: 1;
            }
        }        
    }
}


// SIGN IN WITH GOOGLE STUFF
.gsi-material-button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}
  
.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}
  
.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
  
.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
  
.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
  
.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}
  
.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}
  
.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}
  
.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}
  
.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
  
.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}
  