<!-- Signed out state will show the sign up page -->
@if (state === 'signed out' || state === 'logged out') {
    <div class="signup-form">
        <!-- Signup form -->
        @if (state === 'signed out') {
            <!-- Sign Up Form -->
            <div class="left">
                <!-- Email input -->
                <div class="email-container">
                    <p-floatLabel>
                        <input id="email"
                            pInputText
                            class="{{ isEmailInputValid ? '' : 'ng-invalid ng-dirty' }}"
                            type="text"
                            [(ngModel)]="inputEmail"
                            (focus)="
                                isEmailInputValid = true;
                                isUserSignUpDuplicate = false;
                            "
                            aria-labelledby="email-help"
                        />
                        <label for="email">Monash Email</label>
                    </p-floatLabel>

                    @if (!isEmailInputValid) {
                        <small id="email-help" style="background-color: rgb(248, 113, 113);">Email invalid (enter Monash email)</small>
                    }
                    @else if (isUserSignUpDuplicate) {
                        <small id="email-help" style="background-color: rgb(248, 113, 113);">User with that email already exists.</small>
                    }
                    @else {
                        <small id="email-help">e.g. abcd0001&#64;student.monash.edu</small>
                    }
                </div>

                <!-- Password input-->
                <div class="password-container mt-1">
                    <p-floatLabel>
                        <p-password id="password"
                            type="password"
                            class="{{ isPasswordsInputValid ? '' : 'ng-invalid ng-dirty' }}"
                            [toggleMask]="true"
                            [(ngModel)]="inputPassword"
                            (onFocus)="isPasswordsInputValid = true;"
                        />
                        <label for="password">Password</label>
                    </p-floatLabel>
                </div>

                <!-- Confirm password input -->
                <div class="confirm-password-container mt-1">
                    <p-floatLabel>
                        <p-password id="confirm-password"
                            type="password"
                            class="{{ isPasswordsInputValid ? '' : 'ng-invalid ng-dirty' }}"
                            [toggleMask]="true"
                            [disabled]="inputPassword == '' ? true : false"
                            [feedback]="false"
                            [(ngModel)]="inputPassword2"
                            (onFocus)="isPasswordsInputValid = true;"
                            aria-labelledby="confirm-password-help"
                        />
                        <label for="confirm-password">Confirm Password</label>
                    </p-floatLabel>
                    @if (!isPasswordsInputValid) {
                        <small id="confirm-password-help" style="background-color: rgb(248, 113, 113);">Passwords do not match!</small>
                    } @else {
                        <small id="confirm-password-help">Retype your password to confirm.</small>
                    }
                </div>

                <!-- Sign Up Button -->
                <p-button
                    label="Sign Up"
                    icon="pi pi-user-plus"
                    styleClass="w-10rem mx-auto"
                    [loading]="signingUp"
                    (click)="signup()"
                />

                <!-- Switch to login -->
                <p>Already have an account?
                    <a
                        pButton
                        type="button"
                        class="p-button-link"
                        (click)="state='logged out'; titleChangeEvent.emit('Login');"
                    >
                        Login Here
                    </a>
                </p>
            </div>
        }

        <!-- Login form -->
        @else if (state === 'logged out') {
            <!-- Login Form -->
            <div class="left">
                <!-- Email input -->
                <div class="email-container">
                    <p-floatLabel>
                        <input id="email" 
                            pInputText 
                            class="{{ 
                                ((isEmailInputValid || isEmailInputVerified) ? '' : 'ng-invalid ng-dirty') ||
                                (isVerifyEmailSentCapped ? 'ng-invalid ng-dirty' : '')
                            }}"
                            type="text" 
                            [(ngModel)]="inputEmail" 
                            (focus)="
                                isEmailInputVerified = true;
                                isEmailInputValid = true;
                                isVerifyEmailSentCapped = false;
                            "
                            aria-labelledby="email-help"
                        />
                        <label for="email">Monash Email</label>
                    </p-floatLabel>
                    @if (!isEmailInputValid) {
                        <small id="email-help" style="background-color: rgb(248, 113, 113);">Email invalid (enter Monash email)</small>
                    }
                    @else if (!isEmailInputVerified) {
                        <small id="email-help" style="background-color: rgb(248, 113, 113);">User not verified, check your email.</small>
                    }
                    @else if (isVerifyEmailSentCapped) {
                        <small id="email-help" style="background-color: rgb(248, 113, 113);">Too many requests, please wait a while.</small>
                    }
                </div>

                <!-- Password input-->
                <div class="password-container mt-1">
                    <p-floatLabel>
                        <p-password id="password"
                            type="password"
                            class="{{
                                (isPasswordsInputValid ? '' : 'ng-invalid ng-dirty') ||
                                (isVerifyEmailSentCapped ? 'ng-invalid ng-dirty' : '')
                            }}"
                            [toggleMask]="true"
                            [feedback]="false"
                            [(ngModel)]="inputPassword"
                            (onFocus)="
                                isPasswordsInputValid = true;
                                isVerifyEmailSentCapped = false;
                            "
                        />
                        <label for="password">Password</label>
                    </p-floatLabel>
                    @if (!isPasswordsInputValid && !isVerifyEmailSentCapped) {
                        <small id="password-help" style="background-color: rgb(248, 113, 113);">Invalid email or password</small>
                    }
                </div>

                <!-- Login Submission -->
                <p-button
                    label="Login"
                    icon="pi pi-user"
                    styleClass="w-10rem mx-auto"
                    (click)="login()"
                    [loading]="loggingIn"
                />

                <!-- Transition to sign up form -->
                <p>Don't have an account?
                    <a
                        pButton
                        type="button"
                        class="p-button-link"
                        (click)="state='signed out'; titleChangeEvent.emit('Sign Up');"
                    >
                        Sign Up
                    </a>
                </p>
            </div>
        }

        <!-- Divider -->
        <div class="middle">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>

        <!-- "Sign in Monash Gmail" Button -->
        <!-- <div class="right">
            <button class="gsi-material-button" (click)="onGoogleSignIn()">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                </div>
                <span class="gsi-material-button-contents">Sign in Monash Gmail</span>
                <span style="display: none;">Sign in Monash Gmail</span>
                </div>
            </button>
        </div> -->

        <div class="right">
            <div class="googleButton" #googleSignInButton></div>

            <!-- <button class="gsi-material-button" (click)="handleGoogleSignIn()">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                </div>
                <span class="gsi-material-button-contents">Sign in Monash Gmail</span>
                <span style="display: none;">Sign in Monash Gmail</span>
                </div>
            </button> -->

        </div>
    </div>
}

<!-- Confirmation after signing up -->
@else if (state === 'signed up') {
    <div class="confirmation">
        To be able to log in you must verify your email, check your inbox for the email you registered with.
    </div>
}

<!-- Logged in state will show the profile -->
@else if (state === 'logged in') {
    <div class="profile">
        <!-- Profile leftside menu -->
        <p-menu #profileMenu [model]="profileMenuItems"></p-menu>

        <!-- Divider -->
        <p-divider layout="vertical"></p-divider>

        @if (user) {
            <!-- Details-->
            @if (profileMenuState === 'details') {
                @if (!profileLoading) {
                    <div class="update-details">
                        <!-- Details title -->
                        <h4 class="title">Your Details</h4>

                        <!-- Avatar and username card -->
                        <p-card class="avatar-card m-0" [style]="{ 'overflow': 'hidden', 'width': 'fit-content' }">
                            <div class="d-flex align-items-center p-0">

                                <!-- Profile picture -->
                                <img
                                    [src]="user.profileImg || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWwfGUCDwrZZK12xVpCOqngxSpn0BDpq6ewQ&s'"
                                    alt="Profile Picture"
                                    class="mr-3 avatar"
                                >

                                <!-- Avatar upload overlay (hidden by default) -->
                                <div class="avatar-overlay" (click)="uploadAvatar()" pTooltip="Upload (5 MB)" tooltipPosition="top">
                                    <i class="pi pi-upload upload-icon"></i>
                                </div>

                                <!-- Username -->
                                <span>{{ user.username || 'No User' }}</span>
                            </div>
                        </p-card>

                        <!-- Update username input -->
                        <ng-container class="input-container">
                            <p-floatLabel>
                                <input pInputText id="username" variant="filled" [(ngModel)]="inputUpdateUsername" (focus)="isUsernameInputValid = true;"/>
                                <label for="username">Update your Username</label>
                            </p-floatLabel>
                        </ng-container>

                        @if (!isUsernameInputValid) {
                          <small id="username-help" style="background-color: rgb(248, 113, 113);">Invalid Username (Please enter an alphanumeric username <= 20 characters)</small>
                        }

                        <!-- Update password input -->
                        @if (!user.isGoogleUser) {
                            <p-floatLabel>
                                <input pInputText id="password" variant="filled" type="password" [(ngModel)]="inputUpdatePassword" />
                                <label for="password">New Password (optional)</label>
                            </p-floatLabel>
                        }

                        <!-- Submit changes to update details -->
                        <p-button label="Update Details" class="update-details-button" styleClass="padding-top: 2rem;" (onClick)="updateDetails()"></p-button>
                    </div>
                } @else {
                    <!-- Loading when the profileLoading is true -->
                    <p-progressSpinner class="mx-auto"></p-progressSpinner>
                }
            }
        } @else {
            <!-- Loading when no user assigned yet -->
            <p-progressSpinner class="mx-auto"></p-progressSpinner>
        }
    </div>
}
