<!-- Signed out state will show the sign up page -->
@if (state === 'signed out' || state === 'logged out') {
    <div class="signup-form">
        <!-- Signup form -->
        <!-- "Sign in Monash Gmail" Button -->
        <div class="right">
            @if (isGoogleLoading) {
                <p-skeleton width="199px" height="40px"></p-skeleton>
            } 
            @else if (googleLoadError) {
                <p-button
                    label="Refresh page for Google Sign-In"
                    icon="pi pi-refresh"
                    (click)="reloadPage();"
                ></p-button>
            } @else {
                <div class="google-button-container">
                    <!-- Overlay to hide the white around the google button 
                        caused by the iframe -->
                    <div class="google-button-overlay"></div>
                    <!-- The google button -->
                    <div #googleSignInButton [style]="{ 'z-index': '-9999' }"></div>
                    <!-- Skeleton that is shown above it to hide bad styling initially -->
                    @if (showGoogleSkeleton) {
                        <p-skeleton 
                            width="200px" 
                            height="44px" 
                            [style]="{ 'position': 'absolute', 'top': '0', 'left': '0', 'z-index': '10000' }"
                        ></p-skeleton>
                    }
                </div>
            }

            <span class="google-helper mt-3">Use your <span [style]="{ 'color': 'var(--primary-color)' }">Monash Google Account</span> to Sign In</span>
        </div>
    </div>
}

<!-- Confirmation after signing up -->
@else if (state === 'signed up') {
    <div class="confirmation">
        To be able to log in you must verify your email, check your inbox for the email you registered with.
    </div>
}

<!-- Frogot password state -->
@else if (state === 'forgot password') {
    <div class="forgot-password-form">
        <!-- Subheader -->
        <p>Enter your email to reset your password (don't forget it again dummy)</p>
        <!-- Input to take email -->
        <input pInputText placeholder="Enter your email" [disabled]="profileLoading" [(ngModel)]="inputForgotPasswordEmail" />
        <!-- Send reset email button -->
        <p-button label="Send Reset Email" icon="pi pi-envelope" [disabled]="profileLoading" (click)="forgotPassword()"></p-button>
        <!-- ! Error text -->
        @if (isResetEmailSentCapped) {
            <small class="error-text">Please wait {{ resetEmailTimer }} before requesting another reset email.</small>
        }
        <!-- Back to login button -->
        <p>
            <a pButton type="button" class="p-button-link"
                (click)="state='logged out'; titleChangeEvent.emit('Login');"
            >Back to Login</a>
        </p>
    </div>
}

<!-- Logged in state will show the profile -->
@else if (state === 'logged in') {
    <div class="profile">
        <div class="menu-container mb-2">
            <!-- Top Menu Options -->
            <p-menubar 
                [model]="profileMenuItems" styleClass="menu"
                [style.display]="viewportType !== 'desktop' ? 'none' : ''"
            />
        </div>

        <!-- Navigation arrows -->
        @if (viewportType !== 'desktop') {
            <div class="nav-arrows">
                <button 
                    class="nav-arrow left-arrow"
                    (click)="navigateMenu('prev')"
                >
                    <i class="pi pi-angle-left"></i>
                </button>
                <button
                    class="nav-arrow right-arrow"
                    (click)="navigateMenu('next')"
                >
                    <i class="pi pi-angle-right"></i>
                </button>
            </div>
        }

        <!-- If we have a user then we are logged in and we can show stuff :) -->
        @if (user) {
            <!-- Details-->
            @if (profileMenuState === 'details') {
                @if (!profileLoading) {
                    <div class="details">
                        <div class="title">
                            <h3 class="text-center prevent-select text-400">Profile</h3>
                        </div>
                        <div class="header">
                            <!-- Avatar with Overlay -->
                            <div class="avatar-container">
                                <!-- Avatar Image -->
                                <img
                                    [src]="user.profileImg || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWwfGUCDwrZZK12xVpCOqngxSpn0BDpq6ewQ&s'"
                                    alt="Profile Picture"
                                    class="mr-3 avatar"
                                >

                                <!-- Avatar upload overlay (hidden by default) -->
                                <div class="avatar-overlay" (click)="uploadAvatar()" pTooltip="Upload (5 MB)" tooltipPosition="top">
                                    <i class="pi pi-upload upload-icon"></i>
                                </div>
                            </div>

                            <!-- Editable Username -->
                            <div class="username-container">
                                @if (isEditingUsername) {
                                    <input
                                        #usernameInput
                                        pInputText
                                        [(ngModel)]="inputUpdateUsername"
                                        (keyup.enter)="updateDetails(); isEditingUsername = false;"
                                        (blur)="isEditingUsername = false"
                                        class="username-input"
                                        (focus)="isUsernameInputValid = true"
                                    />
                                } @else {
                                    <h4 class="title text-center prevent-select">{{ user.username }}</h4>
                                    <button
                                        pButton
                                        class="p-button-text p-button-rounded edit-button"
                                        icon="pi pi-pencil"
                                        (click)="startEditingUsername()"
                                    ></button>
                                }
                            </div>
                        </div>

                        <div class="stats">
                            <p class="text-center prevent-select">{{ user.reviews.length }} Reviews</p>
                        </div>
                    </div>
                } @else {
                    <!-- Loading when the profileLoading is true -->
                    <p-progressSpinner class="mx-auto"></p-progressSpinner>
                }
            }
            <!-- Reviews -->
            @else if (profileMenuState === 'reviews') {
                <div class="title mt-3">
                    <h3 class="text-center prevent-select text-400">Your Reviews</h3>
                </div>
                <!-- This is the table of the reviews that the user has written -->
                <div class="reviews-container">
                    <p-table 
                        [value]="reviews" 
                        [tableStyle]="{ 'max-width': '50rem' }"
                        styleClass="p-datatable-striped small"
                    >
                        <ng-template pTemplate="header">
                            <tr style="user-select: none;">
                                <th *ngIf="viewportType === 'desktop'">Date</th>
                                <th>Unit</th>
                                <th *ngIf="viewportType !== 'mobile'" style="max-width: 200px;">Title</th>
                                <th *ngIf="viewportType === 'desktop' || viewportType === 'laptop'">Rating</th>
                                @if (viewportType === 'desktop' || viewportType === 'laptop') {
                                    <th>Likes</th>
                                    <th>Dislikes</th>
                                }
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-review>
                            <tr>
                                <!-- Date of review creation -->
                                <td *ngIf="viewportType === 'desktop'">
                                    {{ review.createdAt | date: 'dd/MM/yyyy' }}
                                </td>
                                <!-- Unitcode of the unit that the review is in -->
                                <td 
                                    style="user-select: none;" 
                                >{{ review.unit.unitCode | uppercase }}</td>
                                <!-- Title of review -->
                                <td 
                                    *ngIf="viewportType !== 'mobile'" 
                                    pTooltip="{{ review.title }}"
                                    style="user-select: none; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                >{{ review.title }}</td>
                                <!-- Rating stars -->
                                <td 
                                    *ngIf="viewportType === 'desktop' || viewportType === 'laptop'"
                                >
                                    <p-rating 
                                        [(ngModel)]="review.overallRating"
                                        [readonly]="true"
                                        [cancel]="false"
                                        style="user-select: none; pointer-events: none; cursor: default;"
                                    />
                                </td>
                                @if (viewportType === 'desktop' || viewportType === 'laptop') {
                                    <!-- Likes of this review -->
                                    <td style="text-align: center; user-select: none;">
                                        {{ review.likes }}
                                    </td>
                                    <!-- Dislikes of this review -->
                                    <td style="text-align: center; user-select: none;">
                                        {{ review.dislikes }}
                                    </td>
                                }
                                <!-- Actions to edit and delete the review -->
                                <td>
                                    <!-- TODO: Edit button is disabled because there is no functionality for this yet -->
                                    <button pButton [disabled]="true" icon="pi pi-pencil" class="p-button-rounded p-button-text" ></button>
                                    <!-- Button to delete the current review -->
                                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text" (click)="this.deleteReview(review._id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            }
            <!-- Friends -->
            @else if (profileMenuState === 'friends') {
                <div class="friends-container">
                    <!-- TODO: Make the friends list here and the suggested friends list -->
                </div>
            }
            <!-- Settings -->
            @else if (profileMenuState === 'settings') {
                <div class="title">
                    <h3 class="text-center prevent-select text-400 mt-3">Settings</h3>
                </div>
                <div class="settings-container">
                    <!-- Update password input -->
                    @if (!user.isGoogleUser) {
                        <div class="mt-4">
                            <h4 class="text-center prevent-select">Don't like your password?</h4>
                            <div class="password-update-container mt-4">
                                <p-floatLabel>
                                    <input pInputText id="password" variant="filled" type="password" [(ngModel)]="inputUpdatePassword" />
                                    <label for="password">Enter New Password</label>
                                </p-floatLabel>
                                <p-button 
                                    icon="pi pi-check"
                                    (click)="updateDetails()"
                                    pTooltip="Update Password"
                                    tooltipPosition="left"
                                />
                            </div>
                        </div>
                        <p-divider [style]="{ 'width': '60vw' }"></p-divider>
                    }
                    <!-- Logout -->
                    <div class="flex flex-column justify-content-center align-items-center" [class]="user.isGoogleUser ? 'mt-4' : ''">
                        <h4 class="text-center prevent-select mb-3">We'll meet again?</h4>
                        <p-button
                            label="Logout"
                            severity="warning"
                            icon="pi pi-sign-out"
                            (click)="logout()"
                        />
                    </div>
                    <p-divider [style]="{ 'width': '60vw' }"></p-divider>
                    <!-- Delete Account Section -->
                    <div>
                        <h4 class="text-center prevent-select mb-3">Danger zone!</h4>
                        <p-confirmPopup styleClass="delete-confirm-popup"></p-confirmPopup>
                        <p-button
                            label="Delete Account"
                            severity="danger"
                            icon="pi pi-trash"
                            (onClick)="deleteAccountConfirmation($event)"
                            pTooltip="This action is irreversible"
                            tooltipPosition="bottom"
                            tooltipZIndex="9999"
                        />
                    </div>
                </div>
            }
        } @else {
            <!-- Loading when no user assigned yet -->
            <p-progressSpinner class="mx-auto"></p-progressSpinner>
        }
    </div>
}
