// Variables
$avatar-size: 64px;

// === Sign Up and Login Forms ===
.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; // Spacing between sections
    padding-top: 1.5rem;
    
    // ! Left side of the form
    .left {
        flex: 1; // Take one part of the space
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        p-floatLabel {
            input {
                width: 100%;
                box-sizing: border-box;
                margin-right: 20px;
            }
        }

        p-button {
            margin-top: 0.75rem;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .forgot-password {
            transform: translateY(-30px);
        }

        .p-button-link { 
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            //margin-bottom: 1rem;
        }
    }
  
    // ! Middle divider of the form
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; // Ensure the divider stretches to match the content height

        p-divider {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            margin-bottom: 2rem;

            b {
                font-size: 1rem;
            }
        }
    }
    
    // ! Right side of the form
    .right {
        flex: 1; // Take one part of the space
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        // * Google Button Container Styling
        .google-button-container {
            position: relative;
            width: 199px;
            height: 40px;
            transform: scale(1.4);
            overflow: hidden;   // Makes sure outside parts are not shown, mainly the iframe parts.
            border-radius: 8px; // Curves the edges of the google button
        }
    }

    .p-button-link {
        padding-top: 20px;
    }
}

// === Forgot Password Form === 
.forgot-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem; // Spacing between sections
    padding-top: 1.5rem;

    p {
        text-align: center;
        margin: 0;
    }

    a {
        padding: 0;
    }

    .p-button-link {
        font-weight: bold;
    }

    .error-text {
        color: red;
    }
}

// === Profile ===
.profile {
    // Row format
    display: flex;
    align-items: left;
    flex-direction: row;    
    gap: 1rem;

    // ! Update details page
    .update-details {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 2rem;

        // * Update details title
        .title {
            padding-top: 1rem;
            line-height: 0px;
        }

        // * Update details submission button
        .update-details-button {
            display: flex;
            justify-content: flex-end;
        }
    }

    // ! Avatar card
    .avatar-card { 
        position: relative;

        // * Avatar image
        .avatar {
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            position: relative;
        }

        // * Avatar dark overlay shown when hovering over the avatar
        .avatar-overlay {
            position: absolute;
            width: $avatar-size;
            height: $avatar-size;
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            // Upload icon that shows when hovering over the avatar
            .upload-icon {
                font-size: 24px;
                color: white;
                opacity: 0.8;
            }

            &:hover { 
                opacity: 1;
            }
        }        
    }
}

// === Responsive Sign Up and Login Forms ===
@media screen and (max-width: 950px) {
    // Sets it up so that the form will be in a column format
    .signup-form {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    // Remove the margin from the bottom of the forgot password link
    .forgot-password {
        margin-bottom: 0;
    }

    // Allows for horizontal divider
    .middle {
        width: 100%;
        max-height: 20px;
        display: flex;
        justify-content: center;

        p-divider {
            width: 100%;
        }
    }

    // Makes sure the the "OR" will be centered
    .middle p-divider[layout='vertical'] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left, .right {
        width: 100%;
        text-align: center;
    }
}