    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex justify-content-center position-relative">

            <!-- Sidebar button -->
            <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                <i class="lni lni-menu"></i>
            </button>

            <!-- Website Name -->
            <a class="navbar-brand mx-auto" href="#">MonSTAR</a>
            
        </div>
    </nav>


    <!-- Sidebar-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <!-- Sidebar header -->
        <div class="offcanvas-header">
            <h5 id="offcanvasSidebarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- Sidebar buttons -->
        <div class="offcanvas-body">
            <ul>
                <li><a href="#">Browse Units</a></li>
                <li><a href="#">Write a Review</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>  