<!-- Toast -->
<p-toast></p-toast>

<!-- Unit Review Header Container -->
<div class="unit-review-header">
  <!-- Top Section: Unit Info & Overall Rating -->
  <div class="header-content prevent-select">
    <!-- Unit Info -->
    <div class="unit-info">
      <!-- Unit code -->
      <div class="unit-code-wrapper" pTooltip="Open unit handbook" tooltipPosition="top">
        <h1 class="unit-code"
          (click)="openHandbookNewTab()"
        >
          {{ unit.unitCode | uppercase }}
          <!-- External link icon -->
          <i class="pi pi-external-link"></i>
        </h1>
        
      </div>
      <!-- Unit name -->
      <p class="unit-name">{{ unit.name }}</p>
    </div>

    <!-- Overall Rating -->
    <div class="overall-rating prevent-select">
      <h2>
        {{ unit.avgOverallRating | decimal }} <span>out of 5</span>
      </h2>
      <div class="stars">
        <ng-container *ngFor="let star of [1,2,3,4,5]">
          <i
            class="bi"
            [ngClass]="{
              'bi-star-fill': Math.floor(unit.avgOverallRating) >= star,
              'bi-star-half': Math.floor(unit.avgOverallRating) < star && Math.ceil(unit.avgOverallRating) >= star,
              'bi-star': Math.ceil(unit.avgOverallRating) < star
            }"
          ></i>
        </ng-container>
      </div>
      <p class="review-count">
        <ng-container *ngIf="unit.reviews.length > 1; else oneOrNone">
          {{ unit.reviews.length }} reviews
        </ng-container>
        <ng-template #oneOrNone>
          <ng-container *ngIf="unit.reviews.length === 1; else noReviews">
            1 review
          </ng-container>
          <ng-template #noReviews>No reviews</ng-template>
        </ng-template>
      </p>
    </div>
  </div>

  <!-- Middle Section: Detailed Ratings -->
  <div class="detailed-ratings">
    <!-- Content Rating -->
    <div class="rating-section prevent-select">
      <p
        pTooltip="The quality of the unit's content and resources"
        tooltipPosition="top"
      >Content 🛈</p>
      
      <p-knob 
        [(ngModel)]="unit.avgContentRating"
        [readonly]="true"
        [size]="80"
        [strokeWidth]="16"
        [valueColor]="'#e288e2'"
        [rangeColor]="'rgba(255,255,255,0.2)'"
        valueTemplate="{value}"
        [max]="5"
        [step]="0.1"
      ></p-knob>
      <!-- <span class="rating-value">{{ unit.avgContentRating | decimal }}</span> -->
    </div>

    <!-- Faculty Rating -->
    <div class="rating-section prevent-select">
      <p 
        pTooltip="The faculty's teaching effectiveness and engagement"
        tooltipPosition="top"
      >Faculty 🛈</p>
      
      <p-knob 
        [(ngModel)]="unit.avgFacultyRating"
        [readonly]="true"
        [size]="80"
        [strokeWidth]="16"
        [valueColor]="'#e288e2'"
        [rangeColor]="'rgba(255,255,255,0.2)'"
        valueTemplate="{value}"
        [max]="5"
        [step]="0.1"
      ></p-knob>
      <!-- <span class="rating-value">{{ unit.avgContentRating | decimal }}</span> -->
    </div>

    <!-- Relevancy Rating -->
    <div class="rating-section prevent-select">
      <p
        pTooltip="The relevance of the unit to your degree"
        tooltipPosition="top"
      >Relevancy 🛈</p>

      <p-knob 
        [(ngModel)]="unit.avgRelevancyRating"
        [readonly]="true"
        [size]="80"
        [strokeWidth]="16"
        [valueColor]="'#e288e2'"
        [rangeColor]="'rgba(255,255,255,0.2)'"
        valueTemplate="{value}"
        [max]="5"
        [step]="0.1"
      ></p-knob>
      <!-- <span class="rating-value">{{ unit.avgContentRating | decimal }}</span> -->
    </div>
  </div>

  <!-- Bottom Section: Actions (Write Review, Sort, Filter) -->
  <div class="actions">
    <!-- Write a Review Button -->
    <div
      [pTooltip]="user == null ? 'You must be logged in to write a review.' : 'Write a review for this unit.'"
      tooltipPosition="top"
    >
      <p-button 
        pRipple
        label="Review"
        icon="pi pi-pencil" 
        (click)="showDialog()" 
        rounded="true"
        [disabled]="user == null ? true : false"
      ></p-button>
    </div>

    <!-- Filter Button -->
    <p-button
      label="Filter"
      icon="pi pi-sliders-h"
      rounded="true"
      pTooltip="Filtering options"
      tooltipPosition="bottom"
    ></p-button>

    <!-- Unit Map Button -->
    <div
      [pTooltip]="
        unitMapButtonDisabled
          ? 'This unit has no connections to other units at Monash' 
          : 'See prerequisites and other unit connections in a graph.'
      "
      tooltipPosition="bottom"
    >
      <p-button
        label="Map"
        icon="pi pi-map-marker"
        rounded="true"
        [disabled]="unitMapButtonDisabled"
        (click)="navigateToUnitMap()"
      ></p-button>
    </div>
  </div>
</div>

<!-- Child Component: Write Review -->
<app-write-review-unit
  [unit]="unit"
  [user]="user"
  (reviewPosted)="handleReviewPosted()"
></app-write-review-unit>
