@import '../../../_variables.scss';

// General Styling 
.unit-overview {
  background-color: #ce7fce;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: $poppins;
}

// Title
.unit-title {
  margin-top: 50px;
  font-size: 4.0rem; 
  transform: translateX(150px);
}

// Subtitle
.unit-subtitle {
  font-size: 2.0rem;
  color: #535353;
  margin-bottom: 0;
  transform: translateX(150px);
}

// Vertical Divider
.vr {
  border-left: 2px solid #555;
  height: 200px;
  transform: translate(150px, 30px); 
}

// Overall Rating Container
.overall-rating-container {
  transform: translate(80px, 10px); 

  h2 {
    font-size: 3.8rem;
    margin-bottom: 5px;
    transform: translate(-20px);
  }
  
  p {
    transform: translate(-20px);
  }
}

// Stars
.stars {
  display: flex; 
  gap: 10px; 

  i {
    font-size: 2.5rem;
  }
}

// Ratings Section for Content, Relevancy, and Teaching Team
.ratings-section {
  gap: 30px;
  transform: translate(150px, 30px);
}

// Align text and rating numbers side by side 
.label-with-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .rating-number {
    transform: translateX(140px); 
  }  
}

// Space the rating number from the label using transform 
.content-rating { 
  color: #000;

  .stars {
    display: flex;
    gap: 10px; 
  }

  .label-with-rating {
    display: flex;
    align-items: center;
  }
}

// Specific styling for Relevancy section
.relevancy-rating {
  color: #000; 
  transform: translateX(40px);

  .stars {
    display: flex;
    gap: 10px; 
  }

  .label-with-rating {
    display: flex;
    align-items: center;
  }

  .rating-number {
    transform: translateX(125px); 
  }
}

// Specific styling for Teaching Team section
.teaching-team-rating {
  color: #000; 

  .stars {
    display: flex;
    gap: 10px; 
  }

  .label-with-rating {
    display: flex;
    align-items: center;
  }

  .rating-number {
    transform: translateX(68px); 
  }
}

// Smaller section
.smaller-section {
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

// Smaller stars
.smaller-stars {
  font-size: 1.0rem;
}

// Buttons
.buttons-container {
  padding-top: 60px;
}

.btn-outline-white {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 0;
  transform: translateX(-20px);

  &:hover {
    background-color: black;
    color: white;
  }
}

.btn-outline-dark {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 0;
  transform: translateX(-20px);
  width: 150px; 
}

// Dropdown menu
.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  padding: 10px 15px;
}
