// ! You can add global styles to this file, and also import other style files
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css' layer(bootstrap);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css" layer(bootstrap);
@import "../node_modules/primeicons/primeicons.css" layer(primeng);
@import "../node_modules/primeng-sass-theme/themes/aura/aura-dark/noir/theme.scss" layer(primeng);
@import "../node_modules/primeng/resources/primeng.min.css" layer(primeng);
@import "../node_modules/primeflex/primeflex.css" layer(primeng);

html, body {
	height: 100%; // Make sure the entire document height is considered
	overflow-x: hidden;
	overflow: hidden;
}

body {
	//scrollbar-color: rgb(39, 39, 39) rgb(25, 25, 25);
	overflow-y: auto; // Allow vertical scrolling without showing the scrollbar
	-ms-overflow-style: none; // Hide scrollbar for Internet Explorer and Edge 
	scrollbar-width: none; //Hide scrollbar for Firefox 
}

// Hide scrollbar for Chrome, Safari, and other WebKit browsers
body::-webkit-scrollbar {
	display: none;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}