// ! You can add global styles to this file, and also import other style files
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css' layer(bootstrap);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css" layer(bootstrap);
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css" layer(primeng);
@import "../node_modules/primeng/resources/primeng.css" layer(primeng);
@import "../node_modules/primeicons/primeicons.css" layer(primeng);
@import "../node_modules/primeflex/primeflex.css" layer(primeng);

html, body {
  height: 100%; /* Make sure the entire document height is considered */
  overflow: hidden; /* Initially hide overflow to prevent showing the scrollbar */
}

body {
  overflow-y: auto; /* Allow vertical scrolling without showing the scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari, and other WebKit browsers */
body::-webkit-scrollbar {
  display: none;
}

// PrimeNG Fixes
.p-button {
  border-radius: 0.65rem !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
}