/** 
*  ! |======================================================================|
*  ! | LAYERING FOR STYLES (BOOTSTRAP & PRIMENG)
*  ! |======================================================================|
*/

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css' layer(bootstrap);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css" layer(bootstrap);
@import "../node_modules/primeicons/primeicons.css" layer(primeng);
@import "../node_modules/primeng-sass-theme/themes/aura/aura-dark/noir/theme.scss" layer(primeng);
@import "../node_modules/primeng/resources/primeng.css" layer(primeng);
@import "../node_modules/primeflex/primeflex.css" layer(primeng);
@import "./app/_variables.scss";


/** 
*  ! |======================================================================|
*  ! | DISABLE SCROLLBAR AND FULL HEIGHT PAGES
*  ! |======================================================================|
*/

html, body {
	height: 100%; // Make sure the entire document height is considered
	overflow-x: hidden;
	overflow: hidden;
	background-color: $fg-dark-color;
}

body {
	//scrollbar-color: rgb(39, 39, 39) rgb(25, 25, 25);
	overflow-y: auto; // Allow vertical scrolling without showing the scrollbar
	-ms-overflow-style: none; // Hide scrollbar for Internet Explorer and Edge 
	scrollbar-width: none; //Hide scrollbar for Firefox 
}

// Hide scrollbar for Chrome, Safari, and other WebKit browsers
body::-webkit-scrollbar {
	display: none;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

// Full page container class used by the full page layout directive
// for making the unit overview page full height.
.full-page-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}


/** 
*  ! |======================================================================|
*  ! | GLOBAL VARIABLES
*  ! |======================================================================|
*/

// CSS Custom Properies (GLOBAL)
:root {
	// Colours
	--primary-color: #e288e2;
	--bg-dark-color: #1e1e1e;
	--fg-dark-color: #2c2c2c;

	// Width limits for responsive design
	--desktop-limit: 1024px;
	--tablet-limit: 768px;
	--mobile-limit: 400px;
}

$desktop-limit: 1024px;
$tablet-limit: 768px;
$mobile-limit: 400px;

/** 
*  ! |======================================================================|
*  ! | RESPONSIVE MEDIA QUERIES
*  ! |======================================================================|
*/

// Override PrimeNG toast styling for mobile
@media screen and (max-width: 576px) {
	// Target the toast container
	.p-toast {
		width: 90vw !important;
		max-width: 90vw !important;
		right: 5vw !important; // Center it with 5% padding on each side
	}

	// Target the toast messages
	.p-toast-message {
		width: 100% !important;
		margin: 0 !important;
	}

	// Make the message text smaller
	.p-toast-message-content {
		padding: 0.75rem !important;
	}

	// Smaller font for toast title
	.p-toast-message-text .p-toast-summary {
		font-size: 0.9rem !important;
	}

	// Smaller font for toast details
	.p-toast-message-text .p-toast-detail {
		font-size: 0.8rem !important;
	}
}

// Make toast responsive
:host ::ng-deep {
	@media screen and (max-width: 576px) {
		.p-toast {
			width: 90vw !important;
			max-width: 90vw !important;
			right: 5vw !important;	
		}

		.p-toast-message {
			width: 100% !important;
		}

		.p-toast-message-content {
			padding: 0.75rem !important;
		}

		.p-toast-message-text .p-toast-summary {
			font-size: 0.9rem !important;
		}

		.p-toast-message-text .p-toast-detail {
			font-size: 0.8rem !important;
		}
	}
}


