<div class="content container my-5">
  <!-- Placeholder for Graphic with Explore Button -->
  <div class="container d-flex justify-content-center my-5">
    <div class="graphic-box">
      <button class="explore-button" (click)="exploreUnits()">Explore</button>
    </div>
  </div>

  <!-- FAQ Title -->
  <h2 class="FAQ">
    <span style="color: rgb(36, 36, 117);">&gt;</span>FAQ<span style="color: rgb(36, 36, 117);">_</span>
    <!-- Only the > and _ are dark purple -->
  </h2>
  <p-accordion [multiple]="true">
    <p-accordionTab header="What is MonSTAR?">
        <p>
          MonSTAR is an online platform designed for Monash University students to browse, review, and share feedback on academic units, helping others make informed decisions.
        </p>
    </p-accordionTab>
    <p-accordionTab header="How do I update or delete a review that I previously submitted?">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-accordionTab>
  </p-accordion>
</div>