<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-content">
    <h1 class="prevent-select">Welcome to MonSTAR</h1>
    <p class="prevent-select">Browse, Review, and Share Feedback on Monash University Units</p>
    
    <p-button label="Explore Units" [rounded]="true" [raised]="true" icon="pi pi-compass" (onClick)="exploreUnits()"></p-button>
  </div>
</div>

<!-- Shooting Stars -->
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

<!-- Centered Content -->
<div class="content container mb-5">
  <!-- Divider -->
  <p-divider [style]="{ 'margin-bottom': '3rem' }"></p-divider>

  <!-- Popular Units Carousel -->
  <p-carousel 
    [value]="popularUnits"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [autoplayInterval]="4500"
    [responsiveOptions]="responsiveOptions"
    styleClass="custom-carousel"
  >
    <ng-template let-unit pTemplate="item">
      <app-unit-card
        class="unit-card" 
        [unit]="unit"
      ></app-unit-card>
    </ng-template>
  </p-carousel>

  <!-- Divider -->
  <p-divider [style]="{ 'margin-bottom': '3rem' }"></p-divider>

  <!-- FAQ Title -->
  <h2 class="FAQ">FAQ</h2>
  <p-accordion [multiple]="true">
    <p-accordionTab header="What is MonSTAR?">
        <p>
          MonSTAR is an online platform designed for Monash University students to browse, review, and share feedback on academic units, helping others make informed decisions.
        </p>
    </p-accordionTab>
    <p-accordionTab header="How do I write a review for a unit?">
      <p>
        1. To be able to write a review you must first Login with your Monash Email (only monash students are allowed to write reviews). <br/>
        2. Go to the explore page and find a unit you want to review. <br/>
        3. Click on the 'Write Review' button.
      </p>
    </p-accordionTab>
    <p-accordionTab header="How do I update or delete a review that I previously submitted?">
        <p>
          Currently there is no option to update your review, but you can delete it by pressing on the 'X' that appears when you hover over your review.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Who made MonSTAR?">
        <p>
          MonSTAR was made by the projects team at WIRED Monash, this team is led by Jenul Ferdinand & Alex Lai.
        </p>
    </p-accordionTab>
  </p-accordion>
</div>