@import '../../_variables.scss';

// * FAQ Title
.FAQ {
  text-align: center;
  padding-bottom: 20px;
}

// * Placeholder for Graphic Section
.graphic-box {
  width: 100%;
  max-width: 800px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 15px; // Curved edges
  background-color: #eeecea; /* Placeholder background for graphic */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// * Explore button
.explore-button {
  padding: 10px 30px;
  background-color: $primary-color;
  border: none;
  border-radius: 15px;
  color: #000;
  font-family: $poppins;
  font-size: 1.25rem;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out; // Smooth transition for background color

  &:hover {
    background-color: $primary-color-hover;
  }
}

// * Hero Section
.hero-section {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(226, 136, 226, 1), rgba(0,0,0,0.0));
  height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 100%);
    animation: shimmer 3s infinite;
  }

  @keyframes shimmer {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.1;
    }
  }

  .hero-content {
    position: relative; /* Ensures content is above the gradient */
  }

  .hero-content {
    max-width: 800px;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .explore-button {
      padding: 10px 30px;
      font-size: 1.25rem;
      background-color: black; /* Bright button color */
      color: #fff;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: gray;
      }
    }
  }
}

// * Prevents user selection
.prevent-select {
  -webkit-user-select: none; // Safari
  -ms-user-select: none; // IE 10 and IE 11
  user-select: none; // Standard syntax 
}

// * Accordion
::ng-deep .p-accordion {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); // Slight shadow 
  border-radius: 10px; // Adds rounded corners to enhance the floaty effect
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; // Adds smooth transition for box-shadow

  // On mouse hover
  &:hover {
    box-shadow: 0 8px 16px rgba(226, 136, 226, 0.25), 0 10px 24px rgba(226, 136, 226, 0.25); // Purple and larger shadow on hover
    transform: translateY(-3px); // Slight upward movement on hover to emphasize floating effect
  }  

  // Header link
  .p-accordion-header-link {
    // White background color
    background-color: #ffffff !important; 
  }
}

// * Shooting stars
span {
  position: absolute;
  top: 50%;
  left: 23%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}
span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}
span:nth-child(2) {
  top: -10px;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 2s;
}
span:nth-child(3) {
  top: -5px;
  right: 0px;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4) {
  top: -3px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 2s;
}
span:nth-child(5) {
  top: -10px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6) {
  top: -10px;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7) {
  top: -10px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8) {
  top: -3px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9) {
  top: -100px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(10) {
  top: -7px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

