<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-content">
    <!-- BIG Title -->
    <h1 class="prevent-select">Welcome to MonSTAR</h1>

    <!-- Description -->
    <div class="subheader-container">
      <p class="prevent-select" [@fadeInOut]="subheaderState">
        {{ subheaders[subheaderCurrentIndex] }}
      </p>
    </div>
    
    <!-- Explore Units -->
    <p-button label="Explore Units" [rounded]="true" [raised]="true" icon="pi pi-compass" (onClick)="exploreUnits()"></p-button>
  </div>

  <!-- Shooting Stars -->
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
  <span class="shooting-star"></span>
</div>

<!-- Centered Content -->
<div class="content container mb-5">
  <!-- Divider -->
  <p-divider [style]="{ 'margin-bottom': '3rem' }"></p-divider>

  <!-- Popular Units Header -->
  <h2 
    class="text-center text-white prevent-select"
  >Popular Units</h2>
  <!-- Popular Units Carousel -->
  @if (loading) {
    <!-- Show skeletons if loading -->
    <p-carousel 
      [value]="[1,2,3,4,5,6]"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [autoplayInterval]="4500"
      [responsiveOptions]="responsiveOptions"
      styleClass="custom-carousel"
    >
      <ng-template pTemplate="item">
        <div class="p-4">
          <p-skeleton 
            width="20rem" 
            height="15rem" 
            styleClass="mx-auto" 
            [style]="{ 'padding-right': '2em', 'margin-bottom': '2em', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)' }"
          ></p-skeleton>
        </div>
      </ng-template>
    </p-carousel>  
  } @else {
    <!-- Show popular units if loaded -->
    <p-carousel 
      [value]="popularUnits"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [autoplayInterval]="4500"
      [responsiveOptions]="responsiveOptions"
      styleClass="custom-carousel"
    >
      <ng-template let-unit pTemplate="item">
        <div class="p-4">
          <app-unit-card
            class="unit-card" 
            [unit]="unit"
          ></app-unit-card>
        </div>
      </ng-template>
    </p-carousel>
  }
  

  <!-- Divider -->
  <p-divider [style]="{ 'margin-bottom': '3rem' }"></p-divider>

  <!-- FAQ Title -->
  <h2 class="FAQ prevent-select">FAQ</h2>
  <p-accordion 
    [multiple]="true"
  >
    <p-accordionTab 
      header="What is MonSTAR?"
    >
        <p>
          MonSTAR is an online platform designed for Monash University students to browse, review, and share feedback on academic units, helping others make informed decisions.
        </p>
    </p-accordionTab>
    <p-accordionTab header="How do I write a review for a unit?">
      <p>
        1. To be able to write a review you must first Login with your Monash Email (only monash students are allowed to write reviews). <br/>
        2. Go to the explore page and find a unit you want to review. <br/>
        3. Click on the 'Write Review' button.
      </p>
    </p-accordionTab>
    <p-accordionTab header="How do I update or delete a review that I previously submitted?">
        <p>
          Currently there is no option to update your review, but you can delete it by pressing on the 'X' that appears when you hover over your review.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Who made MonSTAR?">
        <p>
          MonSTAR was made by the projects team at WIRED Monash, this team is led by Jenul Ferdinand & Alex Lai.
        </p>
    </p-accordionTab>
  </p-accordion>
</div>